.displayimagenav1container{
    height:auto;

}
.displayimagenav1content{
    height: 100%;
    display: flex;
}
.sidebarimages{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    /* padding: 10px 20px; */
    height: 700px;
}
.sidebarimages img{
    height: 300px;
    width: 150px;
    /* padding: 10px 0px; */
   
}
.sidebarimages img:hover{
    border: 2px solid black;
}
.mainimage{
    padding-left: 30px;
} 
.mainimage .displayimagenav1mainimage{
    height: 700px;
    width: 600px;
}
.productdetailscontainer{
    margin-top: 30px;
}